@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

:root {
  --background: #121312;
  --foreground: #2b1a17;
  --accent: #e8dcc4;
  --secondary: #a67d43;
  --primary: #ad0013;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-bebas: var(--font-bebas-neue);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121312;
    --foreground: #2b1a17;
    --secondary: #a67d43;
    --accent: #e8dcc4;
    --primary: #ad0013;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--secondary);
  font-family: var(--font-bebas), Arial, Helvetica, sans-serif;
}

.typing_entry {
  white-space: nowrap;
  overflow: hidden;
  height: 1.2em;
  animation: typing_entry 3s steps(50, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing_entry {
  from { width: 0; border-right: 2px solid var(--color-primary); }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--color-primary); }
}

.typing_words{
  position: relative;
}

.typing_words:before{
  content: "";
  color: var(--color-primary);
  animation: words 20s infinite;
}

.typing_words:after{
  content: "";
  position: absolute;
  height: 100%;
  right: -10px;
  border-left: 2px solid var(--color-primary);
  animation: blink .5s infinite, type_words 20s steps(15) infinite;
  width: calc(100% + 18px);
  background-color: var(--color-background);
}

@keyframes type_words{
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% { width: 0; }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 100% { width: calc(100% + 18px); }
}

@keyframes blink{
  0% {border-left: 2px solid var(--color-background);}
}

@keyframes words{
  0%,20% { content: "FULLSTACK DEVELOPER_"; }
  21%,40% { content: "FRONTEND DEVELOPER_"; }
  41%,60% { content: "BACKEND DEVELOPER_"; }
  61%,80% { content: "UI/UX DESIGNER_"; }
  81%,100% { content: "SOFTWARE ENGINEER_"; }
}

.about-me {
  animation: blink-border 3s infinite;
}

.shadow-blink {
  animation: blink-border 3s infinite;
}

@keyframes blink-border {
  from, to {
    filter: drop-shadow(0 0 0 transparent);
  }
  50% {
    filter: drop-shadow(0 0 10px var(--color-primary));
  }
}
